.stfolder/
.stignore
.ignore.txt
*~undo-tree~
/**/hardware-configuration.nix
result
common/packages/home/podman/syncthing/config-client.xml
common/packages/home/podman/syncthing/config.xml
/**/unused/
.stversions
