.stfolder/
.stignore
.ignore.txt
*~undo-tree~
/**/hardware-configuration.nix
result
common/packages/home/podman/syncthing/config-client.xml
common/packages/home/podman/syncthing/config.xml
/**/unused/
.stversions
desktop/packages/home/wlr-which-key/effects
desktop/packages/home/niri/effects
